.card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.card {
    flex: 1;
    max-width: calc(100% / 6);
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #222;
    border-radius: 5px;
    position: relative;
}

.card:before {
    content: attr(data-title);
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.blue {
    background-color: blue !important;
}

.green {
    background-color: green !important;
}

.yellow {
    background-color: yellow !important;
}

.red {
    background-color: red !important;
}

.purple {
    background-color: purple !important;
}

.cyan {
    background-color: cyan !important;
}